In [1]:
print('hello')

hello

In [2]:
print(type(12))
x= str(12)
print(type(x))

<class 'int'>
<class 'str'>

In [4]:
number= 30
w= "your score is" + str(30)
print(w)

your score is30

In [5]:
n= 25
w= int(25)
print(w+5)

30

In [7]:
n= input("Enter number")

Enter number 8

In [9]:
print(type(n))

<class 'str'>

In [26]:
n=int(input("Enter number"))

if n % 2 !=1 :
    print("Even")
else:
    print("Odd")

Enter number 55

Odd

In [22]:
w= input("Enter number")
print(type(w))

Enter number 5

<class 'str'>

In [25]:
w= int(input("34"))
print(type(w))

34 8

<class 'int'>

In [6]:
x= 10
y= 9
z= 11
print(y>x)

False

In [2]:
print(y<x or x>y)

True

In [4]:
print(y<x and x>y)

True

In [5]:
print(y<x or x<y)

True

In [12]:
print(y>x or x<y)

False

In [10]:
print(y<x and x>y)

True

In [13]:
x= 20
x+= 5
print(x)

25

In [15]:
x= [2,4,5,6,7,8]
print(3 in x)
print(4 not in x)

False
False